<!-- ko with: home -->
<div class="container">
    <h2>Mappy</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>Note: These are not hooked up yet.</div>
            <form>
                <div class="checkbox">
                    <label><input type="checkbox" id="paths" />Paths</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="pathmarker" />Path Markers</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="grid" />Mesh on click</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" id="heatmap" />Basic grid heatmap on click</label>
                </div>
            </form>
        </div>

        <div class="col-md-8">
            <div id="map"></div>
        </div>
    </div>
</div>
<!-- /ko -->
